# Project: cleanning - [candy data]
### this notebook is for educational purpose . in this notebook we will do some cleanning

## Table of Contents
<ul>
<li><a href="#intro">Introduction</a></li>
<li><a href="#wrangling">wrangling</a></li>
  
</ul>

<a id='intro'></a>
## Introduction

### Dataset Description 

> i will go through candy data 2017 , this data has :
- Internal_ID
- Q1-Going Out?: Are you actually going trick or treating yourself? "has values `Yes or No`"
- Q2-Gender: It has four different options, `Femal ,Male ,Other ,I'd rather not say`
- Q3-Age: Numerical field
- Q4-Country: Text Field, but users have written their own version of the names. Example, for America, there are entries such as USA, us, US, America so we should consider that while cleanning
- Q5-State/Province: Text Field, but users have written their own version of the names. Same as the country data.
- Q6-Joy Or Despair: All kinds of chocolate bars are the questions with three distinct options to choose from (Joy, Meh, Despair).
- Q7-Joy Other: Text Field to write items not included above that give you JOY. Lots of missing values.
- Q8-Despair Other: Text Field ti write items not included above that give you DESPAIR. Lots of missing values.
- Q9-Other Comments: Text Field. Lots of missing values.
- Q10-Dress: Binary field. Missing values present
- Unnamed: 113
- Q11-Day: Binary Answer Field. Missing values present

# 1- import packages and load data

In [16]:
import numpy as np
import pandas as pd
df=pd.read_excel("candyhierarchy2017.xlsx")

C:\Users\mr-m-\anaconda3\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

In [17]:
df

,Internal ID,Q1: GOING OUT?,Q2: GENDER,Q3: AGE,Q4: COUNTRY,"Q5: STATE, PROVINCE, COUNTY, ETC",Q6 | 100 Grand Bar,Q6 | Anonymous brown globs that come in black and orange wrappers\t(a.k.a. Mary Janes),Q6 | Any full-sized candy bar,Q6 | Black Jacks,...,Q8: DESPAIR OTHER,Q9: OTHER COMMENTS,Q10: DRESS,Unnamed: 113,Q11: DAY,Q12: MEDIA [Daily Dish],Q12: MEDIA [Science],Q12: MEDIA [ESPN],Q12: MEDIA [Yahoo],"Click Coordinates (x, y)"
0,90258773,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,90272821,No,Male,44,USA,NM,MEH,DESPAIR,JOY,MEH,...,NaN,Bottom line is Twix is really the only candy w...,White and gold,NaN,Sunday,NaN,1.0,NaN,NaN,"(84, 25)"
2,90272829,NaN,Male,49,USA,Virginia,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,90272840,No,Male,40,us,or,MEH,DESPAIR,JOY,MEH,...,NaN,Raisins can go to hell,White and gold,NaN,Sunday,NaN,1.0,NaN,NaN,"(75, 23)"
4,90272841,No,Male,23,usa,exton pa,JOY,DESPAIR,JOY,DESPAIR,...,NaN,NaN,White and gold,NaN,Friday,NaN,1.0,NaN,NaN,"(70, 10)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2455,90314359,No,Male,24,USA,MD,JOY,DESPAIR,MEH,DESPAIR,...,Fruit Stripe Gum,NaN,White and gold,NaN,Friday,NaN,NaN,NaN,NaN,NaN
2456,90314580,No,Female,33,USA,New York,MEH,DESPAIR,JOY,NaN,...,Capers,NaN,Blue and black,NaN,Friday,NaN,1.0,NaN,NaN,"(70, 26)"
2457,90314634,No,Female,26,USA,Tennessee,MEH,DESPAIR,JOY,DESPAIR,...,NaN,NaN,Blue and black,NaN,Friday,NaN,1.0,NaN,NaN,"(67, 35)"
2458,90314658,No,Male,58,Usa,North Carolina,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2459,90314802,No,Female,66,usa,Pennsylvania,DESPAIR,DESPAIR,JOY,DESPAIR,...,NaN,"You hit all my chocolate highlights, and broug...",White and gold,NaN,Sunday,1.0,NaN,NaN,NaN,"(19, 26)"

<a id='wrangling'></a>
## Data Wrangling



### General Properties

# 2- show some general properties for the data

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2460 entries, 0 to 2459
Columns: 120 entries, Internal ID to Click Coordinates (x, y)
dtypes: float64(4), int64(1), object(115)
memory usage: 2.3+ MB

In [19]:
df.shape

(2460, 120)

In [20]:
df.size

295200

In [21]:
df.isna().sum()

Internal ID                    0
Q1: GOING OUT?               110
Q2: GENDER                    41
Q3: AGE                       84
Q4: COUNTRY                   64
                            ...
Q12: MEDIA [Daily Dish]     2375
Q12: MEDIA [Science]        1098
Q12: MEDIA [ESPN]           2361
Q12: MEDIA [Yahoo]          2393
Click Coordinates (x, y)     855
Length: 120, dtype: int64

In [22]:
df.isna().sum().sum()

96592

In [24]:
df.dtypes

Internal ID                   int64
Q1: GOING OUT?               object
Q2: GENDER                   object
Q3: AGE                      object
Q4: COUNTRY                  object
                             ...
Q12: MEDIA [Daily Dish]     float64
Q12: MEDIA [Science]        float64
Q12: MEDIA [ESPN]           float64
Q12: MEDIA [Yahoo]          float64
Click Coordinates (x, y)     object
Length: 120, dtype: object

# 3- write summary about what you get form the above functions
> #### tips : this summary can be about : if there is any missing values , if there a wrong data type , if there a wrong range of values , ....

In [9]:
#There are missing values, 96592 in total
#The age column has the wrong datatype (should be int but is specified as object)

# cleaning

### 4- drop all the useless columns and  rows with too much NaN , 
> tip : useless columns can be like `Internal ID`and can be also columns with too much NaN 
- rename columns for easy access

In [25]:
 df.drop(labels='Internal ID', axis=1, inplace=True)

In [26]:
df.rename(columns = {'Q1: GOING OUT?':'Going Out?', 'Q2: GENDER':'Gender',
                              'Q3: AGE':'Age',
                               'Q4: COUNTRY':'Country',
                                'Q5: STATE, PROVINCE, COUNTY, ETC':'Area',
                               'Q6 | 100 Grand Bar':'Joy or Despair',
     'Q6 | Anonymous brown globs that come in black and orange wrappers\t(a.k.a. Mary Janes)':'Black & Orange wrappers'
                    }, inplace = True)

In [27]:
 df.drop(labels='Q9: OTHER COMMENTS', axis=1, inplace=True)

In [28]:
 df.drop(labels='Unnamed: 113', axis=1, inplace=True)

### 5 - clean `going out` column 
> tip : you should choose which best value to put in place of these NaNs ( mode, unknown,other ....etc)

In [30]:
df['Going Out?'].replace(np.nan,'Not specified',inplace=True)

In [31]:
df.isna().sum()

Going Out?                     0
Gender                        41
Age                           84
Country                       64
Area                         100
                            ...
Q12: MEDIA [Daily Dish]     2375
Q12: MEDIA [Science]        1098
Q12: MEDIA [ESPN]           2361
Q12: MEDIA [Yahoo]          2393
Click Coordinates (x, y)     855
Length: 117, dtype: int64

In [32]:
df

,Going Out?,Gender,Age,Country,Area,Joy or Despair,Black & Orange wrappers,Q6 | Any full-sized candy bar,Q6 | Black Jacks,Q6 | Bonkers (the candy),...,Q6 | York Peppermint Patties,Q7: JOY OTHER,Q8: DESPAIR OTHER,Q10: DRESS,Q11: DAY,Q12: MEDIA [Daily Dish],Q12: MEDIA [Science],Q12: MEDIA [ESPN],Q12: MEDIA [Yahoo],"Click Coordinates (x, y)"
0,Not specified,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,No,Male,44,USA,NM,MEH,DESPAIR,JOY,MEH,DESPAIR,...,DESPAIR,Mounds,NaN,White and gold,Sunday,NaN,1.0,NaN,NaN,"(84, 25)"
2,Not specified,Male,49,USA,Virginia,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,No,Male,40,us,or,MEH,DESPAIR,JOY,MEH,MEH,...,DESPAIR,"Reese's crispy crunchy bars, 5th avenue bars, ...",NaN,White and gold,Sunday,NaN,1.0,NaN,NaN,"(75, 23)"
4,No,Male,23,usa,exton pa,JOY,DESPAIR,JOY,DESPAIR,MEH,...,JOY,NaN,NaN,White and gold,Friday,NaN,1.0,NaN,NaN,"(70, 10)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2455,No,Male,24,USA,MD,JOY,DESPAIR,MEH,DESPAIR,DESPAIR,...,MEH,Mounds,Fruit Stripe Gum,White and gold,Friday,NaN,NaN,NaN,NaN,NaN
2456,No,Female,33,USA,New York,MEH,DESPAIR,JOY,NaN,NaN,...,JOY,NaN,Capers,Blue and black,Friday,NaN,1.0,NaN,NaN,"(70, 26)"
2457,No,Female,26,USA,Tennessee,MEH,DESPAIR,JOY,DESPAIR,MEH,...,MEH,Tiny bottles of maple syrup as given out by Cr...,NaN,Blue and black,Friday,NaN,1.0,NaN,NaN,"(67, 35)"
2458,No,Male,58,Usa,North Carolina,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2459,No,Female,66,usa,Pennsylvania,DESPAIR,DESPAIR,JOY,DESPAIR,DESPAIR,...,JOY,NaN,NaN,White and gold,Sunday,1.0,NaN,NaN,NaN,"(19, 26)"

### 6 - clean ` gender` column 
> tip : you should choose which best value to put in place of these NaNs ( mode, unknown,other ....etc)

In [33]:
df['Gender'].replace(np.nan,'Not specified',inplace=True)

# 7 - clean ` age` column 
> tip : note the type of age column , and NaN values
 - try to use `to_numeric` 
 - tip : you should choose which best value to put in place of these NaNs ( mean, median, ....etc)

In [34]:
df['Age'].replace('Old enough',0,inplace=True)

In [35]:
df['Age'].replace('Many',0,inplace=True)

In [36]:
df['Age'].replace('?',0,inplace=True)

In [37]:
df['Age'].replace('no',0,inplace=True)

In [38]:
df['Age'].replace('45-55',0,inplace=True)

In [39]:
df['Age'].replace('hahahahaha',0,inplace=True)

In [40]:
df['Age'].replace('39.4',39,inplace=True)

In [41]:
df['Age'].replace('older than dirt',0,inplace=True)

In [42]:
df['Age'].replace('102',0,inplace=True)

In [43]:
df['Age'].replace('5u',0,inplace=True)

In [44]:
df['Age'].replace('Enough',0,inplace=True)

In [45]:
df['Age'].replace('See question 2',0,inplace=True)

In [46]:
df['Age'].replace('24-50',0,inplace=True)

In [47]:
df['Age'].replace('Over 50',0,inplace=True)

In [48]:
df['Age'].replace('1000',0,inplace=True)

In [49]:
df['Age'].replace('sixty-nine',69,inplace=True)

In [50]:
df['Age'].replace('46 Halloweens.',46,inplace=True)

In [51]:
df['Age'].replace('ancient',0,inplace=True)

In [52]:
df['Age'].replace('OLD',0,inplace=True)

In [53]:
df['Age'].replace('old',0,inplace=True)

In [54]:
df['Age'].replace('70.5',70,inplace=True)

In [55]:
df['Age'].replace('MY NAME JEFF',0,inplace=True)

In [56]:
df['Age'].replace('59 on the day after Halloween',58,inplace=True)

In [57]:
df['Age'].replace('old enough',0,inplace=True)

In [58]:
df['Age'].replace('your mom',0,inplace=True)

In [59]:
df['Age'].replace('I can remember when Java was a cool new language',0,inplace=True)

In [60]:
df['Age'].replace('60+',0,inplace=True)

In [61]:
df['Age'].replace('Unknown',0,inplace=True)

In [67]:
df['Age'] = df['Age'].fillna(0)

In [68]:
df['Age'] = df['Age'].astype('int')

In [70]:
df_median = df['Age'].median() 
df['Age'].replace(0,df_median,inplace=True)

In [71]:
df['Age']

0       41
1       44
2       49
3       40
4       23
        ..
2455    24
2456    33
2457    26
2458    58
2459    66
Name: Age, Length: 2460, dtype: int32

### 8 - clean ` country` column
> tip : note that country column has country names with different writing ways 
  - use fuzzywuzzy to deal with this problem
  - you should choose which best value to put in place of these NaNs ( mode, unknown,other ....etc)

In [72]:
conda install -c conda-forge fuzzywuzzy

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: C:\Users\mr-m-\anaconda3

  added / updated specs:
    - fuzzywuzzy


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    _anaconda_depends-2022.05  |           py39_0           7 KB
    anaconda-custom            |           py39_1           4 KB
    ca-certificates-2022.9.14  |       h5b45459_0         189 KB  conda-forge
    certifi-2022.9.14          |     pyhd8ed1ab_0         156 KB  conda-forge
    notebook-6.4.12            |     pyha770c72_0         6.3 MB  conda-forge
    openssl-1.1.1q             |       h8ffe710_0         5.8 MB  conda-forge
    ------------------------------------------------------------
                                           Total:        12.4 MB

The following NEW packages will be INSTALLED:

  _anaconda_depends  pkgs/main/win-64::_anaconda_depends-2022.05-py39_0
  notebook           conda-forge/noarch::notebook-6.4.12-pyha770c72_0

The following packages will be UPDATED:

  ca-certificates    pkgs/main::ca-certificates-2022.3.29-~ --> conda-forge::ca-certificates-2022.9.14-h5b45459_0
  certifi            pkgs/main/win-64::certifi-2021.10.8-p~ --> conda-forge/noarch::certifi-2022.9.14-pyhd8ed1ab_0
  openssl              pkgs/main::openssl-1.1.1n-h2bbff1b_0 --> conda-forge::openssl-1.1.1q-h8ffe710_0

The following packages will be DOWNGRADED:

  anaconda                                   2022.05-py39_0 --> custom-py39_1



Downloading and Extracting Packages

notebook-6.4.12      | 6.3 MB    |            |   0%
notebook-6.4.12      | 6.3 MB    |            |   0%
notebook-6.4.12      | 6.3 MB    | 4          |   5%
notebook-6.4.12      | 6.3 MB    | #1         |  11%
notebook-6.4.12      | 6.3 MB    | #7         |  17%
notebook-6.4.12      | 6.3 MB    | ##2        |  23%
notebook-6.4.12      | 6.3 MB    | ##9        |  29%
notebook-6.4.12      | 6.3 MB    | ###5       |  35%
notebook-6.4.12      | 6.3 MB    | ####1      |  41%
notebook-6.4.12      | 6.3 MB    | ####6      |  47%
notebook-6.4.12      | 6.3 MB    | #####2     |  53%
notebook-6.4.12      | 6.3 MB    | #####8     |  59%
notebook-6.4.12      | 6.3 MB    | ######7    |  67%
notebook-6.4.12      | 6.3 MB    | #######3   |  73%
notebook-6.4.12      | 6.3 MB    | #######9   |  80%
notebook-6.4.12      | 6.3 MB    | ########5  |  86%
notebook-6.4.12      | 6.3 MB    | #########1 |  91%
notebook-6.4.12      | 6.3 MB    | #########6 |  96%
notebook-6.4.12      | 6.3 MB    | ########## | 100%

anaconda-custom      | 4 KB      |            |   0%
anaconda-custom      | 4 KB      | ########## | 100%
anaconda-custom      | 4 KB      | ########## | 100%

openssl-1.1.1q       | 5.8 MB    |            |   0%
openssl-1.1.1q       | 5.8 MB    | 1          |   1%
openssl-1.1.1q       | 5.8 MB    | 8          |   8%
openssl-1.1.1q       | 5.8 MB    | #4         |  15%
openssl-1.1.1q       | 5.8 MB    | ##1        |  22%
openssl-1.1.1q       | 5.8 MB    | ##8        |  28%
openssl-1.1.1q       | 5.8 MB    | ###4       |  35%
openssl-1.1.1q       | 5.8 MB    | ####1      |  42%
openssl-1.1.1q       | 5.8 MB    | ####8      |  48%
openssl-1.1.1q       | 5.8 MB    | #####4     |  55%
openssl-1.1.1q       | 5.8 MB    | ######1    |  62%
openssl-1.1.1q       | 5.8 MB    | ######8    |  68%
openssl-1.1.1q       | 5.8 MB    | #######4   |  75%
openssl-1.1.1q       | 5.8 MB    | ########1  |  82%
openssl-1.1.1q       | 5.8 MB    | ########8  |  88%
openssl-1.1.1q       | 5.8 MB    | #########4 |  95%
openssl-1.1.1q       | 5.8 MB    | ########## | 100%

certifi-2022.9.14    | 156 KB    |            |   0%
certifi-2022.9.14    | 156 KB    | ########1  |  82%
certifi-2022.9.14    | 156 KB    | ########## | 100%

_anaconda_depends-20 | 7 KB      |            |   0%
_anaconda_depends-20 | 7 KB      | ########## | 100%
_anaconda_depends-20 | 7 KB      | ########## | 100%

ca-certificates-2022 | 189 KB    |            |   0%
ca-certificates-2022 | 189 KB    | #####9     |  59%
ca-certificates-2022 | 189 KB    | ########## | 100%
Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done
Retrieving notices: ...working... done

Note: you may need to restart the kernel to use updated packages.

The environment is inconsistent, please check the package plan carefully
The following packages are causing the inconsistency:

  - defaults/win-64::anaconda==2022.05=py39_0
  - defaults/noarch::holoviews==1.14.8=pyhd3eb1b0_0
  - defaults/noarch::hvplot==0.7.3=pyhd3eb1b0_1
  - defaults/noarch::ipywidgets==7.6.5=pyhd3eb1b0_1
  - defaults/win-64::jupyter==1.0.0=py39haa95532_7
  - defaults/noarch::jupyterlab==3.3.2=pyhd3eb1b0_0
  - defaults/noarch::nbclassic==0.3.5=pyhd3eb1b0_0
  - defaults/win-64::widgetsnbextension==3.5.2=py39haa95532_0
  - defaults/win-64::_ipyw_jlab_nb_ext_conf==0.1.0=py39haa95532_0

In [73]:
import fuzzywuzzy as fuzz

In [74]:
from fuzzywuzzy import process

In [75]:
unique_types = df['Country'].unique()

In [76]:
print(process.extract('America', unique_types, limit = len(unique_types)))

[('america', 100), ('America', 100), ('N. America', 95), ("'merica", 92), ('United States of America', 90), ('United States of America ', 90), ('united states of america', 90), ('The United States of America', 90), ('A', 90), ('Ahem....Amerca', 83), ('Murica', 77), ('Can', 72), ('South africa', 64), ('Mexico', 62), ('Narnia', 62), ('UAE', 60), ('Costa Rica', 59), ('murrika', 57), ('North Carolina ', 51), ('Australia', 50), ('australia', 50), ('California', 47), ('Taiwan', 46), ('germany', 43), ('Iceland', 43), ('Germany', 43), ('cascadia', 40), ('Netherlands', 39), ('USA? Hard to tell anymore..', 39), ('Switzerland', 39), ('The Netherlands', 39), ('soviet canuckistan', 39), ('United Statea', 39), ("I don't know anymore", 39), ('Fear and Loathing', 39), ('Indonesia', 38), ('United staes', 37), ('United State', 37), ('USAA', 36), ('Trumpistan', 35), ('I pretend to be from Canada, but I am really from the United States.', 34), ('Earth', 33), ('Canae', 33), ('Korea', 33), ('Japan', 33), ('China', 33), ('spain', 33), ('canada', 31), ('Canada', 31), ('canada ', 31), ('france', 31), ('Canada ', 31), ('Europe', 31), ('Greece', 31), ('France', 31), ('Canada`', 31), ('France ', 31), ('CANADA', 31), ('Alaska', 31), (nan, 30), ('USA ', 30), ('USA', 30), ('usa', 30), ('Usa', 30), ('USa', 30), ('Usa ', 30), ('England', 29), ('finland', 29), ('Ireland', 29), ('Denmark', 29), ('endland', 29), ('Ireland ', 29), ('USA! USA! USA!', 28), ('USA USA USA!!!!', 28), ('insanity lately', 27), ('New York', 27), ('Scotland', 27), ('Scotland ', 27), ('Atlantis', 27), ('United States', 26), ('United Kingdom', 26), ('united states', 26), ('United States ', 26), ('United states', 26), ('unhinged states', 26), ('Unites States', 26), ('The United States', 26), ('Unied States', 26), ('unite states', 26), ('United Sates', 26), ('United Stated', 26), ('South Korea', 26), ('United Statss', 26), ('united States ', 26), ('subscribe to dm4uz3 on youtube', 26), ('United kingdom', 26), ('USAUSAUSA', 25), ('Singapore', 25), ('New Jersey', 24), ('usas', 22), ('USSA', 22), ('u.s.a.', 17), ('U.S.A.', 17), ('u s a', 17), ('Sweden', 15), ('US of A', 14), ('United ststes', 13), ('united ststes', 13), ('Pittsburgh', 12), ('us', 0), ('Us', 0), ('US', 0), ('uk', 0), ('UK', 0), (35, 0), ('U S', 0), ('u.s.', 0), ('U.K. ', 0), ('U.S.', 0), (46, 0), (45, 0), (32, 0), ('Uk', 0), ('UK ', 0), ('UD', 0), ('hong kong', 0), ('Hong Kong', 0), ('U.S. ', 0), (1, 0)]

In [286]:
matches = process.extract('American', df['Country'], limit=len(df['Country']))

### 9 - clean ` area` column
> tip : area column has the same problem as country columns , but looking at all it's unique values may give us another way to deal with it rather than try to fix it

In [79]:
unique_types = df['Area'].unique()
df['Area']

0                  NaN
1                   NM
2             Virginia
3                   or
4             exton pa
             ...
2455                MD
2456          New York
2457         Tennessee
2458    North Carolina
2459      Pennsylvania
Name: Area, Length: 2460, dtype: object

In [248]:
#print(process.extract('New York', unique_types, limit = len(unique_types)))

### 10 - clean ` Q6` columns
>- tip : Q6 has all kinds of chocolate bars and questions with three distinct options to choose from (Joy, Meh, Despair).
- so all the column that has Q6 is a candy name , so you should go through all these column and you should choose which best value to put in place of these NaNs ( mode, unknown,other ....etc)

In [127]:
df

,Going Out?,Gender,Age,Country,Area,Joy or Despair,Black & Orange wrappers,Q6 | Any full-sized candy bar,Q6 | Black Jacks,Q6 | Bonkers (the candy),...,Q7: JOY OTHER,Q8: DESPAIR OTHER,Q10: DRESS,Q11: DAY,Q12: MEDIA [Daily Dish],Q12: MEDIA [Science],Q12: MEDIA [ESPN],Q12: MEDIA [Yahoo],"Click Coordinates (x, y)",Q6 | Bonkers (the board game))
0,Not specified,Not specified,41,NaN,NaN,NaN,DESPAIR,JOY,DESPAIR,MEH,...,NaN,NaN,White and gold,Friday,NaN,NaN,NaN,NaN,NaN,MEH
1,No,Male,44,USA,NM,MEH,DESPAIR,JOY,MEH,DESPAIR,...,Mounds,NaN,White and gold,Sunday,NaN,1.0,NaN,NaN,"(84, 25)",DESPAIR
2,Not specified,Male,49,USA,Virginia,NaN,DESPAIR,JOY,DESPAIR,MEH,...,NaN,NaN,White and gold,Friday,NaN,NaN,NaN,NaN,NaN,MEH
3,No,Male,40,us,or,MEH,DESPAIR,JOY,MEH,MEH,...,"Reese's crispy crunchy bars, 5th avenue bars, ...",NaN,White and gold,Sunday,NaN,1.0,NaN,NaN,"(75, 23)",DESPAIR
4,No,Male,23,usa,exton pa,JOY,DESPAIR,JOY,DESPAIR,MEH,...,NaN,NaN,White and gold,Friday,NaN,1.0,NaN,NaN,"(70, 10)",DESPAIR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2455,No,Male,24,USA,MD,JOY,DESPAIR,MEH,DESPAIR,DESPAIR,...,Mounds,Fruit Stripe Gum,White and gold,Friday,NaN,NaN,NaN,NaN,NaN,MEH
2456,No,Female,33,USA,New York,MEH,DESPAIR,JOY,DESPAIR,MEH,...,NaN,Capers,Blue and black,Friday,NaN,1.0,NaN,NaN,"(70, 26)",MEH
2457,No,Female,26,USA,Tennessee,MEH,DESPAIR,JOY,DESPAIR,MEH,...,Tiny bottles of maple syrup as given out by Cr...,NaN,Blue and black,Friday,NaN,1.0,NaN,NaN,"(67, 35)",JOY
2458,No,Male,58,Usa,North Carolina,NaN,DESPAIR,JOY,DESPAIR,MEH,...,NaN,NaN,White and gold,Friday,NaN,NaN,NaN,NaN,NaN,MEH
2459,No,Female,66,usa,Pennsylvania,DESPAIR,DESPAIR,JOY,DESPAIR,DESPAIR,...,NaN,NaN,White and gold,Sunday,1.0,NaN,NaN,NaN,"(19, 26)",DESPAIR

In [107]:
df['Black & Orange wrappers']=df['Black & Orange wrappers'].fillna(df['Black & Orange wrappers'].mode()[0])

In [245]:
df['Joy or Despair']=df['Joy or Despair'].fillna(df['Joy or Despair'].mode()[0])

In [109]:
df['Q6 | Any full-sized candy bar']=df['Q6 | Any full-sized candy bar'].fillna(df['Q6 | Any full-sized candy bar'].mode()[0])

In [111]:
df['Q6 | Black Jacks']=df['Q6 | Black Jacks'].fillna(df['Q6 | Black Jacks'].mode()[0])

In [113]:
df['Q6 | Bonkers (the candy)']=df['Q6 | Bonkers (the candy)'].fillna(df['Q6 | Bonkers (the candy)'].mode()[0])

In [232]:
df['Q6 | Bonkers (the board game))']=df['Q6 | Bonkers (the board game)'].fillna(df['Q6 | Bonkers (the board game)'].mode()[0])

In [117]:
df['Q6 | Bottle Caps']=df['Q6 | Bottle Caps'].fillna(df['Q6 | Bottle Caps'].mode()[0])

In [126]:
df["Q6 | Box'o'Raisins"]=df["Q6 | Box'o'Raisins"].fillna(df["Q6 | Box'o'Raisins"].mode()[0])

In [128]:
df["Q6 | Broken glow stick"]=df["Q6 | Broken glow stick"].fillna(df["Q6 | Broken glow stick"].mode()[0])

In [129]:
df["Q6 | Butterfinger"]=df["Q6 | Butterfinger"].fillna(df["Q6 | Butterfinger"].mode()[0])

In [130]:
df["Q6 | Cadbury Creme Eggs"]=df["Q6 | Cadbury Creme Eggs"].fillna(df["Q6 | Cadbury Creme Eggs"].mode()[0])

In [131]:
df["Q6 | Candy Corn"]=df["Q6 | Candy Corn"].fillna(df["Q6 | Candy Corn"].mode()[0])

In [132]:
df["Q6 | Candy that is clearly just the stuff given out for free at restaurants"]=df["Q6 | Candy that is clearly just the stuff given out for free at restaurants"].fillna(df["Q6 | Candy that is clearly just the stuff given out for free at restaurants"].mode()[0])

In [133]:
df["Q6 | Caramellos"]=df["Q6 | Caramellos"].fillna(df["Q6 | Caramellos"].mode()[0])

In [134]:
df["Q6 | Cash, or other forms of legal tender"]=df["Q6 | Cash, or other forms of legal tender"].fillna(df["Q6 | Cash, or other forms of legal tender"].mode()[0])

In [135]:
df["Q6 | Chardonnay"]=df["Q6 | Chardonnay"].fillna(df["Q6 | Chardonnay"].mode()[0])

In [136]:
df["Q6 | Chick-o-Sticks (we don’t know what that is)"]=df["Q6 | Chick-o-Sticks (we don’t know what that is)"].fillna(df["Q6 | Chick-o-Sticks (we don’t know what that is)"].mode()[0])

In [137]:
df["Q6 | Chiclets"]=df["Q6 | Chiclets"].fillna(df["Q6 | Chiclets"].mode()[0])

In [138]:
df["Q6 | Coffee Crisp"]=df["Q6 | Coffee Crisp"].fillna(df["Q6 | Coffee Crisp"].mode()[0])

In [139]:
df["Q6 | Creepy Religious comics/Chick Tracts"]=df["Q6 | Creepy Religious comics/Chick Tracts"].fillna(df["Q6 | Creepy Religious comics/Chick Tracts"].mode()[0])

In [140]:
df["Q6 | Dental paraphenalia"]=df["Q6 | Dental paraphenalia"].fillna(df["Q6 | Dental paraphenalia"].mode()[0])

In [141]:
df["Q6 | Dots"]=df["Q6 | Dots"].fillna(df["Q6 | Dots"].mode()[0])

In [142]:
df["Q6 | Dove Bars"]=df["Q6 | Dove Bars"].fillna(df["Q6 | Dove Bars"].mode()[0])

In [143]:
df["Q6 | Fuzzy Peaches"]=df["Q6 | Fuzzy Peaches"].fillna(df["Q6 | Fuzzy Peaches"].mode()[0])

In [144]:
df["Q6 | Generic Brand Acetaminophen"]=df["Q6 | Generic Brand Acetaminophen"].fillna(df["Q6 | Generic Brand Acetaminophen"].mode()[0])

In [145]:
df["Q6 | Glow sticks"]=df["Q6 | Glow sticks"].fillna(df["Q6 | Glow sticks"].mode()[0])

In [146]:
df["Q6 | Goo Goo Clusters"]=df["Q6 | Goo Goo Clusters"].fillna(df["Q6 | Goo Goo Clusters"].mode()[0])

In [147]:
df["Q6 | Good N' Plenty"]=df["Q6 | Good N' Plenty"].fillna(df["Q6 | Good N' Plenty"].mode()[0])

In [149]:
df["Q6 | Gum from baseball cards"]=df["Q6 | Gum from baseball cards"].fillna(df["Q6 | Gum from baseball cards"].mode()[0])

In [150]:
df["Q6 | Gummy Bears straight up"]=df["Q6 | Gummy Bears straight up"].fillna(df["Q6 | Gummy Bears straight up"].mode()[0])

In [151]:
df["Q6 | Hard Candy"]=df["Q6 | Hard Candy"].fillna(df["Q6 | Hard Candy"].mode()[0])

In [152]:
df["Q6 | Healthy Fruit"]=df["Q6 | Healthy Fruit"].fillna(df["Q6 | Healthy Fruit"].mode()[0])

In [153]:
df["Q6 | Heath Bar"]=df["Q6 | Heath Bar"].fillna(df["Q6 | Heath Bar"].mode()[0])

In [154]:
df["Q6 | Hershey's Dark Chocolate"]=df["Q6 | Hershey's Dark Chocolate"].fillna(df["Q6 | Hershey's Dark Chocolate"].mode()[0])

In [155]:
df["Q6 | Hershey’s Milk Chocolate"]=df["Q6 | Hershey’s Milk Chocolate"].fillna(df["Q6 | Hershey’s Milk Chocolate"].mode()[0])

In [156]:
df["Q6 | Hershey's Kisses"]=df["Q6 | Hershey's Kisses"].fillna(df["Q6 | Hershey's Kisses"].mode()[0])

In [157]:
df["Q6 | Hugs (actual physical hugs)"]=df["Q6 | Hugs (actual physical hugs)"].fillna(df["Q6 | Hugs (actual physical hugs)"].mode()[0])

In [158]:
df["Q6 | Jolly Rancher (bad flavor)"]=df["Q6 | Jolly Rancher (bad flavor)"].fillna(df["Q6 | Jolly Rancher (bad flavor)"].mode()[0])

In [159]:
df["Q6 | Jolly Ranchers (good flavor)"]=df["Q6 | Jolly Ranchers (good flavor)"].fillna(df["Q6 | Jolly Ranchers (good flavor)"].mode()[0])

In [160]:
df["Q6 | JoyJoy (Mit Iodine!)"]=df["Q6 | JoyJoy (Mit Iodine!)"].fillna(df["Q6 | JoyJoy (Mit Iodine!)"].mode()[0])

In [161]:
df["Q6 | Junior Mints"]=df["Q6 | Junior Mints"].fillna(df["Q6 | Junior Mints"].mode()[0])

In [162]:
df["Q6 | Senior Mints"]=df["Q6 | Senior Mints"].fillna(df["Q6 | Senior Mints"].mode()[0])

In [163]:
df["Q6 | Kale smoothie"]=df["Q6 | Kale smoothie"].fillna(df["Q6 | Kale smoothie"].mode()[0])

In [164]:
df["Q6 | Kinder Happy Hippo"]=df["Q6 | Kinder Happy Hippo"].fillna(df["Q6 | Kinder Happy Hippo"].mode()[0])

In [165]:
df["Q6 | Kit Kat"]=df["Q6 | Kit Kat"].fillna(df["Q6 | Kit Kat"].mode()[0])

In [166]:
df["Q6 | LaffyTaffy"]=df["Q6 | LaffyTaffy"].fillna(df["Q6 | LaffyTaffy"].mode()[0])

In [167]:
df["Q6 | LemonHeads"]=df["Q6 | LemonHeads"].fillna(df["Q6 | LemonHeads"].mode()[0])

In [168]:
df["Q6 | Licorice (not black)"]=df["Q6 | Licorice (not black)"].fillna(df["Q6 | Licorice (not black)"].mode()[0])

In [169]:
df["Q6 | Licorice (yes black)"]=df["Q6 | Licorice (yes black)"].fillna(df["Q6 | Licorice (yes black)"].mode()[0])

In [170]:
df["Q6 | Lindt Truffle"]=df["Q6 | Lindt Truffle"].fillna(df["Q6 | Lindt Truffle"].mode()[0])

In [171]:
df["Q6 | Lollipops"]=df["Q6 | Lollipops"].fillna(df["Q6 | Lollipops"].mode()[0])

In [172]:
df["Q6 | Mars"]=df["Q6 | Mars"].fillna(df["Q6 | Mars"].mode()[0])

In [173]:
df["Q6 | Maynards"]=df["Q6 | Maynards"].fillna(df["Q6 | Maynards"].mode()[0])

In [174]:
df["Q6 | Mike and Ike"]=df["Q6 | Mike and Ike"].fillna(df["Q6 | Mike and Ike"].mode()[0])

In [175]:
df["Q6 | Milk Duds"]=df["Q6 | Milk Duds"].fillna(df["Q6 | Milk Duds"].mode()[0])

In [176]:
df["Q6 | Milky Way"]=df["Q6 | Milky Way"].fillna(df["Q6 | Milky Way"].mode()[0])

In [177]:
df["Q6 | Regular M&Ms"]=df["Q6 | Regular M&Ms"].fillna(df["Q6 | Regular M&Ms"].mode()[0])

In [178]:
df["Q6 | Peanut M&M’s"]=df["Q6 | Peanut M&M’s"].fillna(df["Q6 | Peanut M&M’s"].mode()[0])

In [179]:
df["Q6 | Blue M&M's"]=df["Q6 | Blue M&M's"].fillna(df["Q6 | Blue M&M's"].mode()[0])

In [180]:
df["Q6 | Red M&M's"]=df["Q6 | Red M&M's"].fillna(df["Q6 | Red M&M's"].mode()[0])

In [181]:
df["Q6 | Green Party M&M's"]=df["Q6 | Green Party M&M's"].fillna(df["Q6 | Green Party M&M's"].mode()[0])

In [182]:
df["Q6 | Independent M&M's"]=df["Q6 | Independent M&M's"].fillna(df["Q6 | Independent M&M's"].mode()[0])

In [183]:
df["Q6 | Abstained from M&M'ing."]=df["Q6 | Abstained from M&M'ing."].fillna(df["Q6 | Abstained from M&M'ing."].mode()[0])

In [184]:
df["Q6 | Minibags of chips"]=df["Q6 | Minibags of chips"].fillna(df["Q6 | Minibags of chips"].mode()[0])

In [185]:
df["Q6 | Mint Kisses"]=df["Q6 | Mint Kisses"].fillna(df["Q6 | Mint Kisses"].mode()[0])

In [186]:
df["Q6 | Mint Juleps"]=df["Q6 | Mint Juleps"].fillna(df["Q6 | Mint Juleps"].mode()[0])

In [187]:
df["Q6 | Mr. Goodbar"]=df["Q6 | Mr. Goodbar"].fillna(df["Q6 | Mr. Goodbar"].mode()[0])

In [188]:
df["Q6 | Necco Wafers"]=df["Q6 | Necco Wafers"].fillna(df["Q6 | Necco Wafers"].mode()[0])

In [189]:
df["Q6 | Nerds"]=df["Q6 | Nerds"].fillna(df["Q6 | Nerds"].mode()[0])

In [190]:
df["Q6 | Nestle Crunch"]=df["Q6 | Nestle Crunch"].fillna(df["Q6 | Nestle Crunch"].mode()[0])

In [191]:
df["Q6 | Now'n'Laters"]=df["Q6 | Now'n'Laters"].fillna(df["Q6 | Now'n'Laters"].mode()[0])

In [192]:
df["Q6 | Peeps"]=df["Q6 | Peeps"].fillna(df["Q6 | Peeps"].mode()[0])

In [193]:
df["Q6 | Pencils"]=df["Q6 | Pencils"].fillna(df["Q6 | Pencils"].mode()[0])

In [194]:
df["Q6 | Pixy Stix"]=df["Q6 | Pixy Stix"].fillna(df["Q6 | Pixy Stix"].mode()[0])

In [195]:
df["Q6 | Real Housewives of Orange County Season 9 Blue-Ray"]=df["Q6 | Real Housewives of Orange County Season 9 Blue-Ray"].fillna(df["Q6 | Real Housewives of Orange County Season 9 Blue-Ray"].mode()[0])

In [196]:
df["Q6 | Reese’s Peanut Butter Cups"]=df["Q6 | Reese’s Peanut Butter Cups"].fillna(df["Q6 | Reese’s Peanut Butter Cups"].mode()[0])

In [197]:
df["Q6 | Reese's Pieces"]=df["Q6 | Reese's Pieces"].fillna(df["Q6 | Reese's Pieces"].mode()[0])

In [198]:
df["Q6 | Reggie Jackson Bar"]=df["Q6 | Reggie Jackson Bar"].fillna(df["Q6 | Reggie Jackson Bar"].mode()[0])

In [199]:
df["Q6 | Rolos"]=df["Q6 | Rolos"].fillna(df["Q6 | Rolos"].mode()[0])

In [200]:
df["Q6 | Sandwich-sized bags filled with BooBerry Crunch"]=df["Q6 | Sandwich-sized bags filled with BooBerry Crunch"].fillna(df["Q6 | Sandwich-sized bags filled with BooBerry Crunch"].mode()[0])

In [201]:
df["Q6 | Skittles"]=df["Q6 | Skittles"].fillna(df["Q6 | Skittles"].mode()[0])

In [202]:
df["Q6 | Smarties (American)"]=df["Q6 | Smarties (American)"].fillna(df["Q6 | Smarties (American)"].mode()[0])

In [203]:
df["Q6 | Smarties (Commonwealth)"]=df["Q6 | Smarties (Commonwealth)"].fillna(df["Q6 | Smarties (Commonwealth)"].mode()[0])

In [204]:
df["Q6 | Snickers"]=df["Q6 | Snickers"].fillna(df["Q6 | Snickers"].mode()[0])

In [205]:
df["Q6 | Sourpatch Kids (i.e. abominations of nature)"]=df["Q6 | Sourpatch Kids (i.e. abominations of nature)"].fillna(df["Q6 | Sourpatch Kids (i.e. abominations of nature)"].mode()[0])

In [206]:
df["Q6 | Spotted Dick"]=df["Q6 | Spotted Dick"].fillna(df["Q6 | Spotted Dick"].mode()[0])

In [207]:
df["Q6 | Starburst"]=df["Q6 | Starburst"].fillna(df["Q6 | Starburst"].mode()[0])

In [208]:
df["Q6 | Sweet Tarts"]=df["Q6 | Sweet Tarts"].fillna(df["Q6 | Sweet Tarts"].mode()[0])

In [209]:
df["Q6 | Swedish Fish"]=df["Q6 | Swedish Fish"].fillna(df["Q6 | Swedish Fish"].mode()[0])

In [210]:
df["Q6 | Sweetums (a friend to diabetes)"]=df["Q6 | Sweetums (a friend to diabetes)"].fillna(df["Q6 | Sweetums (a friend to diabetes)"].mode()[0])

In [211]:
df["Q6 | Take 5"]=df["Q6 | Take 5"].fillna(df["Q6 | Take 5"].mode()[0])

In [213]:
df["Q6 | Those odd marshmallow circus peanut things"]=df["Q6 | Those odd marshmallow circus peanut things"].fillna(df["Q6 | Those odd marshmallow circus peanut things"].mode()[0])

In [214]:
df["Q6 | Three Musketeers"]=df["Q6 | Three Musketeers"].fillna(df["Q6 | Three Musketeers"].mode()[0])

In [215]:
df["Q6 | Tolberone something or other"]=df["Q6 | Tolberone something or other"].fillna(df["Q6 | Tolberone something or other"].mode()[0])

In [216]:
df["Q6 | Trail Mix"]=df["Q6 | Trail Mix"].fillna(df["Q6 | Trail Mix"].mode()[0])

In [217]:
df["Q6 | Twix"]=df["Q6 | Twix"].fillna(df["Q6 | Twix"].mode()[0])

In [218]:
df["Q6 | Vials of pure high fructose corn syrup, for main-lining into your vein"]=df["Q6 | Vials of pure high fructose corn syrup, for main-lining into your vein"].fillna(df["Q6 | Vials of pure high fructose corn syrup, for main-lining into your vein"].mode()[0])

In [219]:
df["Q6 | Vicodin"]=df["Q6 | Vicodin"].fillna(df["Q6 | Vicodin"].mode()[0])

In [220]:
df["Q6 | Whatchamacallit Bars"]=df["Q6 | Whatchamacallit Bars"].fillna(df["Q6 | Whatchamacallit Bars"].mode()[0])

In [221]:
df["Q6 | White Bread"]=df["Q6 | White Bread"].fillna(df["Q6 | White Bread"].mode()[0])

In [222]:
df["Q6 | Whole Wheat anything"]=df["Q6 | Whole Wheat anything"].fillna(df["Q6 | Whole Wheat anything"].mode()[0])

In [224]:
df["Q6 | York Peppermint Patties"]=df["Q6 | York Peppermint Patties"].fillna(df["Q6 | York Peppermint Patties"].mode()[0])

In [237]:
df["Q6 | Bonkers (the board game)"]=df["Q6 | Bonkers (the board game)"].fillna(df["Q6 | Bonkers (the board game)"].mode()[0])

In [125]:
for col in df.columns:
    print(col)

Going Out?
Gender
Age
Country
Area
Joy or Despair
Black & Orange wrappers
Q6 | Any full-sized candy bar
Q6 | Black Jacks
Q6 | Bonkers (the candy)
Q6 | Bonkers (the board game)
Q6 | Bottle Caps
Q6 | Box'o'Raisins
Q6 | Broken glow stick
Q6 | Butterfinger
Q6 | Cadbury Creme Eggs
Q6 | Candy Corn
Q6 | Candy that is clearly just the stuff given out for free at restaurants
Q6 | Caramellos
Q6 | Cash, or other forms of legal tender
Q6 | Chardonnay
Q6 | Chick-o-Sticks (we don’t know what that is)
Q6 | Chiclets
Q6 | Coffee Crisp
Q6 | Creepy Religious comics/Chick Tracts
Q6 | Dental paraphenalia
Q6 | Dots
Q6 | Dove Bars
Q6 | Fuzzy Peaches
Q6 | Generic Brand Acetaminophen
Q6 | Glow sticks
Q6 | Goo Goo Clusters
Q6 | Good N' Plenty
Q6 | Gum from baseball cards
Q6 | Gummy Bears straight up
Q6 | Hard Candy
Q6 | Healthy Fruit
Q6 | Heath Bar
Q6 | Hershey's Dark Chocolate
Q6 | Hershey’s Milk Chocolate
Q6 | Hershey's Kisses
Q6 | Hugs (actual physical hugs)
Q6 | Jolly Rancher (bad flavor)
Q6 | Jolly Ranchers (good flavor)
Q6 | JoyJoy (Mit Iodine!)
Q6 | Junior Mints
Q6 | Senior Mints
Q6 | Kale smoothie
Q6 | Kinder Happy Hippo
Q6 | Kit Kat
Q6 | LaffyTaffy
Q6 | LemonHeads
Q6 | Licorice (not black)
Q6 | Licorice (yes black)
Q6 | Lindt Truffle
Q6 | Lollipops
Q6 | Mars
Q6 | Maynards
Q6 | Mike and Ike
Q6 | Milk Duds
Q6 | Milky Way
Q6 | Regular M&Ms
Q6 | Peanut M&M’s
Q6 | Blue M&M's
Q6 | Red M&M's
Q6 | Green Party M&M's
Q6 | Independent M&M's
Q6 | Abstained from M&M'ing.
Q6 | Minibags of chips
Q6 | Mint Kisses
Q6 | Mint Juleps
Q6 | Mr. Goodbar
Q6 | Necco Wafers
Q6 | Nerds
Q6 | Nestle Crunch
Q6 | Now'n'Laters
Q6 | Peeps
Q6 | Pencils
Q6 | Pixy Stix
Q6 | Real Housewives of Orange County Season 9 Blue-Ray
Q6 | Reese’s Peanut Butter Cups
Q6 | Reese's Pieces
Q6 | Reggie Jackson Bar
Q6 | Rolos
Q6 | Sandwich-sized bags filled with BooBerry Crunch
Q6 | Skittles
Q6 | Smarties (American)
Q6 | Smarties (Commonwealth)
Q6 | Snickers
Q6 | Sourpatch Kids (i.e. abominations of nature)
Q6 | Spotted Dick
Q6 | Starburst
Q6 | Sweet Tarts
Q6 | Swedish Fish
Q6 | Sweetums (a friend to diabetes)
Q6 | Take 5
Q6 | Tic Tacs
Q6 | Those odd marshmallow circus peanut things
Q6 | Three Musketeers
Q6 | Tolberone something or other
Q6 | Trail Mix
Q6 | Twix
Q6 | Vials of pure high fructose corn syrup, for main-lining into your vein
Q6 | Vicodin
Q6 | Whatchamacallit Bars
Q6 | White Bread
Q6 | Whole Wheat anything
Q6 | York Peppermint Patties
Q7: JOY OTHER
Q8: DESPAIR OTHER
Q10: DRESS
Q11: DAY
Q12: MEDIA [Daily Dish]
Q12: MEDIA [Science]
Q12: MEDIA [ESPN]
Q12: MEDIA [Yahoo]
Click Coordinates (x, y)
Q6 | Bonkers (the board game))

In [263]:
print(df.isna().sum())
#pd.reset_option('display.max_rows', None)

Going Out?                           0
Gender                               0
Age                                  0
Country                             64
Area                               100
                                  ...
Q12: MEDIA [Science]              1098
Q12: MEDIA [ESPN]                 2361
Q12: MEDIA [Yahoo]                2393
Click Coordinates (x, y)           855
Q6 | Bonkers (the board game))       0
Length: 118, dtype: int64

### 11 - clean ` dress` column
>tip : you should choose which best value to put in place of these NaNs ( mode, unknown,other ....etc)

In [95]:
df['Q10: DRESS']

0                  NaN
1       White and gold
2                  NaN
3       White and gold
4       White and gold
             ...
2455    White and gold
2456    Blue and black
2457    Blue and black
2458               NaN
2459    White and gold
Name: Q10: DRESS, Length: 2460, dtype: object

In [100]:
df['Q10: DRESS'] = df['Q10: DRESS'].fillna(df['Q10: DRESS'].mode()[0])

In [246]:
df

,Going Out?,Gender,Age,Country,Area,Joy or Despair,Black & Orange wrappers,Q6 | Any full-sized candy bar,Q6 | Black Jacks,Q6 | Bonkers (the candy),...,Q7: JOY OTHER,Q8: DESPAIR OTHER,Q10: DRESS,Q11: DAY,Q12: MEDIA [Daily Dish],Q12: MEDIA [Science],Q12: MEDIA [ESPN],Q12: MEDIA [Yahoo],"Click Coordinates (x, y)",Q6 | Bonkers (the board game))
0,Not specified,Not specified,41,NaN,NaN,JOY,DESPAIR,JOY,DESPAIR,MEH,...,NaN,NaN,White and gold,Friday,NaN,NaN,NaN,NaN,NaN,MEH
1,No,Male,44,USA,NM,MEH,DESPAIR,JOY,MEH,DESPAIR,...,Mounds,NaN,White and gold,Sunday,NaN,1.0,NaN,NaN,"(84, 25)",DESPAIR
2,Not specified,Male,49,USA,Virginia,JOY,DESPAIR,JOY,DESPAIR,MEH,...,NaN,NaN,White and gold,Friday,NaN,NaN,NaN,NaN,NaN,MEH
3,No,Male,40,us,or,MEH,DESPAIR,JOY,MEH,MEH,...,"Reese's crispy crunchy bars, 5th avenue bars, ...",NaN,White and gold,Sunday,NaN,1.0,NaN,NaN,"(75, 23)",DESPAIR
4,No,Male,23,usa,exton pa,JOY,DESPAIR,JOY,DESPAIR,MEH,...,NaN,NaN,White and gold,Friday,NaN,1.0,NaN,NaN,"(70, 10)",DESPAIR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2455,No,Male,24,USA,MD,JOY,DESPAIR,MEH,DESPAIR,DESPAIR,...,Mounds,Fruit Stripe Gum,White and gold,Friday,NaN,NaN,NaN,NaN,NaN,MEH
2456,No,Female,33,USA,New York,MEH,DESPAIR,JOY,DESPAIR,MEH,...,NaN,Capers,Blue and black,Friday,NaN,1.0,NaN,NaN,"(70, 26)",MEH
2457,No,Female,26,USA,Tennessee,MEH,DESPAIR,JOY,DESPAIR,MEH,...,Tiny bottles of maple syrup as given out by Cr...,NaN,Blue and black,Friday,NaN,1.0,NaN,NaN,"(67, 35)",JOY
2458,No,Male,58,Usa,North Carolina,JOY,DESPAIR,JOY,DESPAIR,MEH,...,NaN,NaN,White and gold,Friday,NaN,NaN,NaN,NaN,NaN,MEH
2459,No,Female,66,usa,Pennsylvania,DESPAIR,DESPAIR,JOY,DESPAIR,DESPAIR,...,NaN,NaN,White and gold,Sunday,1.0,NaN,NaN,NaN,"(19, 26)",DESPAIR

### 12 - clean ` day` column
>tip : you should choose which best value to put in place of these NaNs ( mode, unknown,other ....etc)

In [102]:
df['Q11: DAY']

0          NaN
1       Sunday
2          NaN
3       Sunday
4       Friday
         ...
2455    Friday
2456    Friday
2457    Friday
2458       NaN
2459    Sunday
Name: Q11: DAY, Length: 2460, dtype: object

In [104]:
df['Q11: DAY'] = df['Q11: DAY'].fillna(df['Q11: DAY'].mode()[0])

In [244]:
df

,Going Out?,Gender,Age,Country,Area,Joy or Despair,Black & Orange wrappers,Q6 | Any full-sized candy bar,Q6 | Black Jacks,Q6 | Bonkers (the candy),...,Q7: JOY OTHER,Q8: DESPAIR OTHER,Q10: DRESS,Q11: DAY,Q12: MEDIA [Daily Dish],Q12: MEDIA [Science],Q12: MEDIA [ESPN],Q12: MEDIA [Yahoo],"Click Coordinates (x, y)",Q6 | Bonkers (the board game))
0,Not specified,Not specified,41,NaN,NaN,NaN,DESPAIR,JOY,DESPAIR,MEH,...,NaN,NaN,White and gold,Friday,NaN,NaN,NaN,NaN,NaN,MEH
1,No,Male,44,USA,NM,MEH,DESPAIR,JOY,MEH,DESPAIR,...,Mounds,NaN,White and gold,Sunday,NaN,1.0,NaN,NaN,"(84, 25)",DESPAIR
2,Not specified,Male,49,USA,Virginia,NaN,DESPAIR,JOY,DESPAIR,MEH,...,NaN,NaN,White and gold,Friday,NaN,NaN,NaN,NaN,NaN,MEH
3,No,Male,40,us,or,MEH,DESPAIR,JOY,MEH,MEH,...,"Reese's crispy crunchy bars, 5th avenue bars, ...",NaN,White and gold,Sunday,NaN,1.0,NaN,NaN,"(75, 23)",DESPAIR
4,No,Male,23,usa,exton pa,JOY,DESPAIR,JOY,DESPAIR,MEH,...,NaN,NaN,White and gold,Friday,NaN,1.0,NaN,NaN,"(70, 10)",DESPAIR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2455,No,Male,24,USA,MD,JOY,DESPAIR,MEH,DESPAIR,DESPAIR,...,Mounds,Fruit Stripe Gum,White and gold,Friday,NaN,NaN,NaN,NaN,NaN,MEH
2456,No,Female,33,USA,New York,MEH,DESPAIR,JOY,DESPAIR,MEH,...,NaN,Capers,Blue and black,Friday,NaN,1.0,NaN,NaN,"(70, 26)",MEH
2457,No,Female,26,USA,Tennessee,MEH,DESPAIR,JOY,DESPAIR,MEH,...,Tiny bottles of maple syrup as given out by Cr...,NaN,Blue and black,Friday,NaN,1.0,NaN,NaN,"(67, 35)",JOY
2458,No,Male,58,Usa,North Carolina,NaN,DESPAIR,JOY,DESPAIR,MEH,...,NaN,NaN,White and gold,Friday,NaN,NaN,NaN,NaN,NaN,MEH
2459,No,Female,66,usa,Pennsylvania,DESPAIR,DESPAIR,JOY,DESPAIR,DESPAIR,...,NaN,NaN,White and gold,Sunday,1.0,NaN,NaN,NaN,"(19, 26)",DESPAIR

In [267]:
#Drop Coordinates
df.drop(['Click Coordinates (x, y)'], axis=1,inplace=True)

In [266]:
#Drop Other Comments because most of them are useless and empty
df.drop(['Q7: JOY OTHER', 'Q8: DESPAIR OTHER'], axis=1,inplace=True)

In [272]:
df.rename(columns = {'Q12: MEDIA [Daily Dish]':'Daily Dish', 'Q12: MEDIA [Science]':'Science',
                              'Q12: MEDIA [ESPN]':'ESPN',
                               'Q12: MEDIA [Yahoo]':'Yahoo'}, inplace = True)

In [275]:
df["Daily Dish"].replace(np.nan,0,inplace=True)
#,"Science","ESPN","Yahoo

In [276]:
df["Science"].replace(np.nan,0,inplace=True)

In [277]:
df["ESPN"].replace(np.nan,0,inplace=True)

In [278]:
df["Yahoo"].replace(np.nan,0,inplace=True)

In [280]:
df

,Going Out?,Gender,Age,Country,Area,Joy or Despair,Black & Orange wrappers,Q6 | Any full-sized candy bar,Q6 | Black Jacks,Q6 | Bonkers (the candy),...,Q6 | White Bread,Q6 | Whole Wheat anything,Q6 | York Peppermint Patties,Q10: DRESS,Q11: DAY,Daily Dish,Science,ESPN,Yahoo,Q6 | Bonkers (the board game))
0,Not specified,Not specified,41,NaN,NaN,JOY,DESPAIR,JOY,DESPAIR,MEH,...,DESPAIR,DESPAIR,JOY,White and gold,Friday,0.0,0.0,0.0,0.0,MEH
1,No,Male,44,USA,NM,MEH,DESPAIR,JOY,MEH,DESPAIR,...,DESPAIR,DESPAIR,DESPAIR,White and gold,Sunday,0.0,1.0,0.0,0.0,DESPAIR
2,Not specified,Male,49,USA,Virginia,JOY,DESPAIR,JOY,DESPAIR,MEH,...,DESPAIR,DESPAIR,JOY,White and gold,Friday,0.0,0.0,0.0,0.0,MEH
3,No,Male,40,us,or,MEH,DESPAIR,JOY,MEH,MEH,...,DESPAIR,DESPAIR,DESPAIR,White and gold,Sunday,0.0,1.0,0.0,0.0,DESPAIR
4,No,Male,23,usa,exton pa,JOY,DESPAIR,JOY,DESPAIR,MEH,...,DESPAIR,DESPAIR,JOY,White and gold,Friday,0.0,1.0,0.0,0.0,DESPAIR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2455,No,Male,24,USA,MD,JOY,DESPAIR,MEH,DESPAIR,DESPAIR,...,MEH,DESPAIR,MEH,White and gold,Friday,0.0,0.0,0.0,0.0,MEH
2456,No,Female,33,USA,New York,MEH,DESPAIR,JOY,DESPAIR,MEH,...,DESPAIR,MEH,JOY,Blue and black,Friday,0.0,1.0,0.0,0.0,MEH
2457,No,Female,26,USA,Tennessee,MEH,DESPAIR,JOY,DESPAIR,MEH,...,DESPAIR,DESPAIR,MEH,Blue and black,Friday,0.0,1.0,0.0,0.0,JOY
2458,No,Male,58,Usa,North Carolina,JOY,DESPAIR,JOY,DESPAIR,MEH,...,DESPAIR,DESPAIR,JOY,White and gold,Friday,0.0,0.0,0.0,0.0,MEH
2459,No,Female,66,usa,Pennsylvania,DESPAIR,DESPAIR,JOY,DESPAIR,DESPAIR,...,MEH,DESPAIR,JOY,White and gold,Sunday,1.0,0.0,0.0,0.0,DESPAIR

In [279]:
print(df.isna().sum())

Going Out?                          0
Gender                              0
Age                                 0
Country                            64
Area                              100
                                 ...
Daily Dish                          0
Science                             0
ESPN                                0
Yahoo                               0
Q6 | Bonkers (the board game))      0
Length: 115, dtype: int64

In [281]:
df.dtypes

Going Out?                         object
Gender                             object
Age                                 int32
Country                            object
Area                               object
                                   ...
Daily Dish                        float64
Science                           float64
ESPN                              float64
Yahoo                             float64
Q6 | Bonkers (the board game))     object
Length: 115, dtype: object

164

### 13 - check
> after finish cleaning you should make sure your data is clean and that :
- there is no wrong data type
- there is no NaN values 
- all the column are cleaing and ready for the next step `EDA`

### 14 - write a summary about all the cleaning steps

In [ ]:
#replacing a lot of missing values
#converting wrong datatype
#renaming long columns